html, body {
  margin: 0;
  padding: 0;
  color: rgb(251, 251, 251);
  text-align: center;
  background-color: rgb(35, 34, 35);
}

a:link {
  color:aqua;
}

a:visited {
  color:aqua;
}

a:hover {
  color: rgb(251, 251, 251);
}

canvas {
  display: block;
  margin: auto;
}
